body, html{
    margin: 0px;
    font-size: 15px;
    padding: 0;
    background-color: #f7f3db;
}

* {
    box-sizing: border-box;
    font-family: 'Century Gothic', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

form {
    padding: 20px;
    color: #395144;
    background-color: #F0EBCE;
}

.container {
    width: 90%;
    display: block;
    margin: 0 auto;

}

.mynotes {
    background-color: #F0EBCE;
    font-size: 15px;
    padding: 10px;
}

.noteinput {
    width:50%;
    height:100px;
    border: solid 2px #395144;
    max-width: 90%;
    min-width: 50%;
}

#allnotes {
    color: #4E6C50;
    font-size: 17px;
    list-style: none;
    padding: 0;
    
}

#allnotes li {
    border-bottom: solid 2px #395144;
    padding-bottom: 5px;
    margin-bottom: 5px;
    max-width: 70%;
}

#allnotes li:last-child {
    border-bottom: none;
}

.mynotes h3 {
    font-size: 25px;
    font-weight: bold;
}

.topnav {
    background-image: 
        url("https://images.unsplash.com/photo-1483546416237-76fd26bbcdd1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2340&q=80");
    background-color: rgb(170, 139, 86);
    background-blend-mode: multiply;
    min-height: 75px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: solid 2px #395144;
}

.navigation {
    background-color: rgb(57, 81, 68, 0.7);
    background-blend-mode: multiply;
    text-align: left;
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
    transition: opacity, background-color, 300ms ease-out;
    position: sticky;
    top: 0px;
}

.logged-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logged-nav #logout-btn {
    margin-left: auto;

}

.navigation a {
    opacity: 80%;
    margin: 0;
}

.navigation:hover {
    background-color: #395144;
    opacity: 100%;
}

a:link, a:visited {
    color: #F0EBCE;
    padding: 3px 5px;
    margin-right: 10px;
    border-radius: 5px;
    text-decoration: none;
    transition: opacity, background-color, color, 300ms ease-out;
}

a:hover {
    background-color: #F0EBCE;
    color: #4E6C50;
    opacity: 100%;
}

.article a:link, .article a:visited {
    color: #395144;
    padding: 3px 5px;
    border-radius: 5px;
    margin: 0px;
    text-decoration: none;
    transition: opacity, background-color, color, 300ms ease-out;
}

.article a:hover {
    background-color: #4E6C50;
    color: #F0EBCE;
    opacity: 100%;
}

.button {
    color: #395144;
    background-color: rgb(170, 139, 86, 0.2);
    margin: 7px;
    border: solid 2px #395144;
    border-radius: 75px;
    box-shadow: 2px 2px 5px #4E6C50;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Century Gothic';
    font-size: 12px;
    padding: 5px;

    transition: transform, background-color, color, 300ms ease-out;
}

.button:hover {
    transform: scale(105%);
    background-color: #395144;
    color: white;
    cursor: pointer;
}

input {
    margin: 3px;
    padding: 5px 15px;
    border-radius: 3px;
    box-sizing: border-box;
    font-family: 'Century Gothic', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.inputs {
    display: flex;
    align-items: left;
    flex-direction: column;
    width: 25%;
}

#editform {
    margin-top: 25px;
}

img {
    display: block;
    width: 300px;
    margin-left: auto;
    padding-bottom: 15px;
}

.note-form-image {
    display: block;
    margin: right;
    padding: 0;

}

.main-h1 {
    color: #F0EBCE;
    text-shadow: #4b4942 5px 5px 5px;
    font-size: 500%;
    text-align: center;
    margin: 25px 15px;

}

.nottakalogo {
    display: block;
    margin: auto;
    padding-top: 20px;
}

.footerlogo {
    max-width: 120px;
    height: auto;
    padding: 0;
    margin-right: auto;
    margin-left: 10px;

}

.nottakalogo:hover, .footerlogo:hover {
    cursor: pointer;
}

.subheading {
    color: #395144;
    text-shadow: none;
    text-align: left;
    font-size: 25px;
    margin: 0;
    padding: 0;
}

.article {
    padding: 50px 0px;
    font-size: 20px;

}

.article p{
    margin: 0;
    padding: 10px 0px;
    max-width: 70%;
}



#logout-btn {
    box-shadow: none;
    background-color: rgb(240, 235, 206);
    background-blend-mode: lighten;
    color: #395144;
    padding: 10px;
    transition: transform, background-color, color, 300ms ease-out;
}

#logout-btn:hover {
    color: #F0EBCE;
    background-color: rgb(57, 81, 68);
    border: solid 2px #F0EBCE;
    
}

.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

.footer {
    display: flex;
    background-color: #395144;
    border-top: solid 2px #395144;
    block-size: 50px;
    align-items: center;
}

.footer ul {
    text-decoration: none;
    text-align: center;  
    list-style: none;
    padding: 5px;
    margin: 0;
    display: flex;
    font-size: 20px;
}

.footer li {
    margin: 0px 5px;
}